html {width:100%; height:100%; margin:auto; overflow:hidden;}
body {height:100%; margin:auto; overflow:hidden; font-family:"Los Alamos Pro Fat Man", sans-serif; font-size:25px; background-color:#333333;}
.osc {height:100%; transition: background 20ms; width:23%; float:left; color:transparent; margin:0 5% 0 5%}
h1 {font-size-adjust: 0.65; font-weight:bold; font-style:normal; font-size:120%; height:21px; margin:0px;}
.line {display:inline-block; width:5px; height:100%;}
#line1 {background-color:red; }
#line2 {background-color:green;}
#line3 {background-color:blue;}
header {width:100%; padding:5px; background-color:white; margin-bottom:20px; height:28px;}
#phrasebuilder {position:absolute; padding:10px; background-color:white; top:50px;}
#phrasebuilder {text-align: center;}
#phrasebuilder section {width:50px; float:left; line-height:30px;}
#phrasebuilder h3 {font-size:85%; text-transform: uppercase; margin:0px; line-height:5px;}
#phrasebuilder label {font-size:40%; font-family:arial;}
#phrasebuilder input {width:40px; margin:0 auto 0 auto;}
#phrasebuilder select {font-family:"Los Alamos Pro Fat Man", sans-serif; font-size:70%;}
#phrasebuilder .delete {float:right;}
#phrasebuilder .delete button {border-style:none; float:right; width:48px;}
#phrasebuilder button {font-family:"Los Alamos Pro Fat Man", sans-serif; background:white; border-style:solid; font-size:80%; cursor: pointer; margin-top:10px;}
.repeatlabel, #repeat {position:relative; top:10px;}
.clear {clear:both;}
.controls {clear:both; width:300px; margin:auto;}
.buildcolumn {float:left; width:200px; margin:20px;}
#play {float:left; display:block; width:100px; margin:auto;}
#stop {float:left; display:block; width:100px; margin:auto;}
#share {clear:both; display:block; width:100px; margin:auto; position:relative; top:5px; text-transform: uppercase;}
a:link {color:inherit;}
a:visited {color:inherit;}
a:active {color:inherit;}

.on {
    box-shadow: 0 0 5px,
               0 0 20px,
               0 0 30px,
               0 0 40px;
    }
    
.off {
    box-shadow: 0 0 5px,
               0 0 10px,
               0 0 15px,
               0 0 20px
  }


@media (max-width: 800px) {
  #phrasebuilder {width:300px;}
}