html {width:100%; height:100%; margin:auto; overflow:hidden;}
body {height:100%; margin:auto; overflow:hidden; font-family:"Los Alamos Pro Fat Man", sans-serif; font-size:25px;}
.osc {height:100%; transition: background 20ms; position:absolute;}
#osc1 {width:32%; left:0; margin-right:1px;}
#osc2 {margin-left:33%; width:34%;}
#osc3 {width:32%; right:0; margin-left:1px;}
h1 {font-size-adjust: 0.65; font-weight:bold; font-style:normal; display: inline-block; font-size:120%; height:21px; margin:0px;}
.line {display:inline-block; width:5px; height:100%;}
#line1 {background-color:red; }
#line2 {background-color:green;}
#line3 {background-color:blue;}
header {width:100%; padding:5px;}
#phrasebuilder {position:absolute; padding:10px; background-color:white;}
#phrasebuilder {text-align: center;}
#phrasebuilder section {width:50px; float:left; line-height:30px;}
#phrasebuilder h3 {font-size:85%; text-transform: uppercase; margin:0px; line-height:5px;}
#phrasebuilder label {font-size:40%; font-family:arial;}
#phrasebuilder input {width:40px; margin:0 auto 0 auto;}
#phrasebuilder select {font-family:"Los Alamos Pro Fat Man", sans-serif; font-size:70%;}
#phrasebuilder button {font-family:"Los Alamos Pro Fat Man", sans-serif; background:white; border-style:solid; font-size:80%; cursor: pointer; margin-top:10px;}
.buildcolumn {float:left; width:200px; margin:10px;}
#play {clear:both; display:block; width:100px; margin:auto;}